<!-- we use pipe to format the string, angular has built in pipes -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <!-- no need for click onSelect event since w e give link to the hero details so we removed that code -->
    <a routerLink="/detail/{{ hero.id }}">
      <!-- toggle style of the selected hero with class binding -->
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!-- property binding to give the parent component control over the child component.  -->
