<!-- we use pipe to format the string, angular has built in pipes -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
  >
    <!-- toggle style of the selected hero with class binding -->
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!-- property binding to give the parent component control over the child component.  -->
